<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


    <title>My Worthy Software | 비즈니스 소프트웨어 추천</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: "Stylish", sans-serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        .comment {
            color: blue;
            font-weight: bold;
        }

        #post-box {
            width: 650px;
            margin: 20px auto;
            padding: 50px;
            border: lightslategray solid;
            border-radius: 2px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#cards-box").empty();
            showPost();
        });

        function showPost() {
            $.ajax({
                type: "GET",
                url: "http://spartacodingclub.shop/post",
                data: {},
                success: function (response) {
                    let articles = response["articles"];
                    for (let i = 0; i < articles.length; i++) {
                        let article = articles[i];
                        makeCard(article["image"], article["url"], article["title"], article["desc"], article["comment"]);
                    }
                }
            });
        }

        function makeCard(image, url, title, desc, comment) {
            let tempHtml = `<div class="card">
                                <img class="card-img-top" src="${image}" alt="Card image cap">
                                <div class="card-body">
                                    <a href="${url}" target="_blank" class="card-title">${title}</a>
                                    <p class="card-text">${desc}</p>
                                    <p class="card-text comment">${comment}</p>
                                </div>
                            </div>`;
            $("#cards-box").append(tempHtml);
        }

        function openClose() {
            // id 값 post-box의 display 값이 block 이면(= 눈에 보이면)
            if ($("#post-box").css("display") == "block") {
                // post-box를 가리고
                $("#post-box").hide();
                // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
                $("#btn-post-box").text("추천 소프트웨어 등록");
            } else {
                // 아니면(눈에 보이지 않으면) post-box를 펴라
                $("#post-box").show();
                // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
                $("#btn-post-box").text("등록 박스 닫기");
            }
        }
    </script>

</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">My Worthy Software</h1>
        <p class="lead">비즈니스에 도움이 되는 소프트웨어 추천!</p>
        <hr class="my-4">
        <p class="lead">
            <button onclick="openClose()" id="btn-post-box" type="button" class="btn btn-primary">추천 소프트웨어 등록
            </button>
        </p>
    </div>


    <div id="post-box" class="form-post" style="display:none">
        <div>
            <div class="form-group">
                <label for="post-url">소프트웨어 이름</label>
                <input id="post-url" class="form-control" placeholder="">
            </div>
            <label for="post-url">카테고리</label><br/>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                       value="option1">
                <label class="form-check-label" for="inlineRadio1">영업/마케팅</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                       value="option2">
                <label class="form-check-label" for="inlineRadio2">협업/생산성</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                       value="option1">
                <label class="form-check-label" for="inlineRadio1">교육</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                       value="option2">
                <label class="form-check-label" for="inlineRadio2">프로젝트 관리</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                       value="option1">
                <label class="form-check-label" for="inlineRadio1">분석</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                       value="option2">
                <label class="form-check-label" for="inlineRadio2">디자인</label>
            </div>
            <div class="form-group">
                <label for="post-comment">소프트웨어 설명</label>
                <textarea class="form-control" rows="2"></textarea>
            </div>

            <div class="form-group">
                <label for="homepage-url">홈페이지 URL</label>
                <input id="homepage-url" class="form-control" placeholder="">
            </div>

            <div class="form-group">
                <label for="googleplay-url">Google play 다운로드 주소</label>
                <input id="googleplay-url" class="form-control" placeholder="">
            </div>

            <div class="form-group">
                <label for="appstore-url">App store 다운로드 주소</label>
                <input id="appstore-url" class="form-control" placeholder="">
            </div>

            <div class="form-group">
                <label for="logoimage-url">로고 이미지주소</label>
                <input id="logoimage-url" class="form-control" placeholder="">
            </div>


            <button type="button" class="btn btn-primary">내용 저장</button>
        </div>
    </div>
<!--    -->
<!--    <div class="media">-->
<!--  <img src="https://miro.medium.com/max/694/1*sTNpuEytd-slyqS2TVEbmA.png" class="mr-3" alt="...">-->
<!--  <div class="media-body">-->
<!--    <h5 class="mt-0">slack</h5>-->
<!--    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
<!--    <a href="#" class="card-link">구글플레이 다운</a>-->
<!--    <a href="#" class="card-link">앱스토어 다운</a>-->
<!--    <a href="#" class="btn btn-primary">웹사이트 방문</a>-->
<!--  </div>-->


<div class="card mb-3" style="max-width: 900px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://miro.medium.com/max/694/1*sTNpuEytd-slyqS2TVEbmA.png" class="card-img" alt="https://miro.medium.com/max/694/1*sTNpuEytd-slyqS2TVEbmA.png">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="#" class="btn btn-primary" style="float: right">웹사이트 방문</a>
        <h5 class="card-title">Slack</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="#" class="card-link" style="float: right">구글플레이 다운</a><br/>
          <a href="#" class="card-link" style="float: right">앱스토어 다운</a><br/>

      </div>
    </div>
  </div>
</div>

</html>